@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

/*Link styling*/

.hero-info, .header-links {
    color: #e5e7eb;
}

ul {
    padding: 0;
    list-style: none;
}

.header-links {
    text-decoration: none;
}

/*ENTIRE HEADER LAYOUT*/

